.uk-progress.progress-black::-webkit-progress-value {
    background-color: white;
}

.uk-progress.progress-black::-moz-progress-bar {
    background-color: white;
}

.uk-progress.progress-black::-ms-fill {
    background-color: white;
}

.uk-progress.progress-black::-webkit-progress-bar {
    background-color: transparent !important;
}

.uk-progress {
    background-color: transparent !important;
    border: 1px solid white !important;
}